#!/usr/bin/env python
# -*- coding: utf-8 -*-

db_host="localhost"
db_name="drsk_osm"
db_user="osm_read_only"
db_passwd="XXXXXXXX"

# Отрисовка графика:
graph_path="graphs/"
graph_x_on_page=1024
graph_y_on_page=300

osm_server_ver=4
#osm_server_ver=3
#debug=True
debug=False

